async-timeout==4.0.2
cycler==0.11.0
Deprecated==1.2.13
dronekit==2.9.2
dronekit-sitl==3.3.0
filterpy==1.4.5
fonttools==4.33.3
future==0.18.2
imageio==2.19.3
kiwisolver==1.4.3
lap==0.4.0
lxml==4.9.0
matplotlib==3.5.2
MAVProxy==1.8.50
monotonic==1.6
networkx==2.8.4
numpy==1.23.0
packaging==21.3
Pillow==9.1.1
psutil==5.9.1
pymavlink
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
PyWavelets==1.3.0
PyYAML==6.0
redis==4.3.4
scikit-image==0.17.2
scipy==1.8.1
six==1.16.0
tifffile==2022.5.4
wrapt==1.14.1
